.home-section {
    width: 100%;
    height: 84%;
}

.home-content {
    width: 100%;
    height: 84vh;
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -55;
}

.img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cr1.webp);
}

.img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cr2.jpg);

}

.content-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.content-homes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.heading-home {
    color: white;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 22px;
}

.heading-lg-home {
    color: white;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0px;
    text-align: center;
}

.btn-home {
    display: inline-block;
    padding: 18px 38px;
    background-color: #4C7B8B;
    text-decoration: none;
    color: black;
    font-weight: 600px;
    margin: 28px 0px 0px 0px;
    transition: 0.5s ease-in;
}

.btn-home:hover {
    background-color: #4C7B8B;
}

.icon-scroll {
    color: #fff;
    background-color: #212121;
    border-color: #212121;
    padding: 12px;
    font-size: 20px;
}

.about {
    width: 100%;
    height: 100vh;
    margin-top: 120px;
}

.heading-about {
    color: #000;
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 8px;
    position: relative;
}

.heading-about::before {
    content: '';
    position: absolute;
    top: 44px;
    left: 134px;
    width: 80px;
    background-color: #4C7B8B;
    height: 3px;
    width: 149px;
}

.heading-about::after {
    content: '';
    position: absolute;
    top: 44px;
    right: 134px;
    width: 80px;
    background-color: #4C7B8B;
    height: 3px;
    width: 149px;
}


.para-about-details {
    display: block;
    color: #0e0f10;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 0px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.about-us-content {
    margin-top: 50px;
}

.img-about {
    width: 100%;
    height: 380px;
}

.image-content {
    width: 100%;
    height: 100% !important;
}

.heading-content {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    color: #4C7B8B;
    padding: 10px 20px;
}

.para-content-about {
    font-size: 15px;
    text-align: center;
    line-height: 26px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.74);
}

.services {
    width: 100%;
    height: 100vh;
    padding: 24px 8px;
    text-align: center;
}

.heading_sm {
    text-transform: uppercase;
    color: #4C7B8B;
    letter-spacing: 3px;
    font-size: 21px;
}

.heading_lg {
    font-size: 44px;
    font-weight: 800;
    margin: 20px 0px;
}

.container-services {
    margin-top: 66px;
}

.content-services {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 14px;
    transition: 0.3s ease-in;
}

.img-service {
    width: 100px;
    height: 100px;
    margin-bottom: 11px;
}

.heading-tour {
    font-size: 19px;
    margin: 7px 0px;
    font-weight: 700;
}

.para-tour {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.747);
    font-weight: 600;
    line-height: 26px;
    margin: 8px 0px;
}

.btn-service {
    display: inline-block;
    padding: 10px 26px;
    background-color: rgb(200, 95, 2);
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    margin: 10px 0px;
    transition: 0.2s ease;
}

.content-services:hover {
    transform: translateY(-6px);
    box-shadow: 2px 2px 14px gray;

}

.content-services:hover .btn-service {
    background-color: rgb(5, 97, 189);
    color: white;

}

.packages {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 16px 0px;
    margin: 30px 0px;
}

.container-packages {
    margin-top: 62px;
}

.content-packages {
    width: 100%;
    height: auto;
    background-color: white;
    transition: 0.2s ease;
}

.content-packages:hover {
    box-shadow: 1px 1px 10px gray;
}

.img-package {
    width: 100%;
    height: 240px;
}

.image-package {
    width: 100%;
    height: 100%;
}

.content-package-container {
    padding: 18px;
}

.details-package {
    display: flex;
    justify-content: space-between;
}

.icon-detail {
    color: rgb(200, 95, 2);
    padding: 0px 8px;
    font-size: 13px;
}

.detail-text {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 699);
}

.heading-content-package {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: rgba(0, 0, 0, 0.91);
    margin: 8px 0px;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate {
    font-size: 15px;
    font-weight: 500;
}

.stars {
    color: rgb(200, 95, 2);
    font-size: 15px;
    padding: 0px 8px;
}

footer {
    width: 100%;
    height: 90vh;
    background-color: rgb(31, 29, 29);
    padding: 24px;
}

.footer-container {
    margin-top: 20px;
    padding: 30px 4px 9px 4px;
}

.footer-logo {
    color: rgba(255, 255, 255, 0.863);
    letter-spacing: 2px;
    font-weight: 800;
}

.footer-para {
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.534);
    margin: 25px 0px;
}

.heading-sm-footer {
    color: rgba(255, 255, 255, 0.853);
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 18px 0px;
}

.social-links-footer {
    margin-bottom: 16px 0px;

}

.icon-social-footer {
    font-size: 21px;
    padding: 9px;
    border: 1px solid rgb(200, 95, 2);
    color: rgb(229, 120, 22);
    margin: 0px 4px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.icon-social-footer:hover {
    background-color: #4C7B8B;
    color: white;
}

.pages-footer {
    padding: 6px 18px;
}

.heading-pages {
    color: rgba(255, 255, 255, 0.863);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 18px;
}

.footer-links {
    font-size: 15px !important;
    color: rgba(255, 255, 255, 0.534) !important;
}

.footer-links:hover {
    color: white !important;

}

.contact-footer {
    display: flex;
    flex-direction: column;
}

.text-contact {
    margin: 16px 0px;
    color: white;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.534);
}

.footer-icons {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.863);
    padding: 0px 9px;
}

.footer-rights {
    margin-top: 22px;
    border-top: 1px solid rgba(255, 255, 255, 0.32);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rights-para {
    margin: 0px;
    color: rgba(255, 255, 255, 0.623);
    font-size: 16px;
}